.DS_Store

data_visualization/3_months_3_1_bou_frd
data_visualization/year_34s
data_visualization/california
data_visualization/Decay_BOU_FRD
data_visualization/Europe_3_1
data_visualization/year_12s
data_visualization/year_20n
data_visualization/year_48
data_visualization/year_54n
data_visualization/year_54s
data_visualization/year_67s
data_visualization/year_ant
data_visualization/year_aus
data_visualization/year_data_3_1
data_visualization/year_data_bou_frd
data_visualization/year_hzl
data_visualization/year_vertical
data_and_results/ersm_paper_data_results
data_and_results/unused_data
data_and_results/edwards_test
data_and_results/agu_data_results
preliminary_experiments